<div id='main' role='main'>

        <div id='main-content'>
          <div class='container'>
            <div class='row' id='portfolio-filter'>
              <div class='col-sm-12'>
                <h2 style='font-size: 40px'>歡迎來到 Raising Stars</h2>
                <br>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="field">
                    <span style='font-size: 20px'>
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true %>
                    </span>
                  </div>
                  <br>
                  <div class="field">
                    <span style='font-size: 20px'>
                      <%= f.label :密碼 %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "off" %>
                    </span>
                  </div>
                  <br>
                  <div class="field">
                    <span style='font-size: 20px'>
                      <%= f.label :密碼確認 %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "off" %>
                    </span>
                  </div>
                  <br>
                  <div class="actions">
                    <span style='font-size: 20px'>
                      <%= f.submit "註冊" %>
                    </span>
                  </div>
                <% end %>

                <%#= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa fa-chevron-up'></i>
        </div>
</div>


