Hi, <%= @user.email %> :
===============================================

恭喜！你在 Raising Stars 運行的專案 <%= @proposal.title %>，
已經成功達標，目前已經募到 <%= @proposal.progress %> 元！

下面為支持你的使用者：

<table>
  <tr>
    <td>使用者</td>
    <td>金額</td>
  </tr>
  <% @proposal_orders.each do |p| %>
    <tr>
      <td><%= p.email %></td>
      <td><%= p.amount %></td>
    </tr>
  <% end %>
</table>

By Raising Stars
