<div id='main' role='main'>

        <div id='main-content'>
          <div class='container'>
            <div class='row' id='portfolio-filter'>
              <div class='col-sm-12'>
                <h2 style='font-size: 40px'>捐款確認</h2>
                <br>
                <ul>
                  <% @order.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>

                  <%= form_for @order, :url=>proposal_product_orders_path  do |f| %>
                  <span style='font-size: 25px; color:red;'>金額：<%= @product.price %></span>
                  <br>
                  <br>
                  <div class="field">
                    <span style='font-size: 20px'>
                      <%= f.label :名字 %>
                      <%= f.text_field :name, :value => Faker::Name.name %>
                    </span>
                  </div>
                  <br>
                  <div class="field">
                    <span style='font-size: 20px'>
                      <%= f.label :電話 %>
                      <%= f.text_field :phone, :value => Faker::PhoneNumber.cell_phone %>
                    </span>
                  </div>
                  <br>
                  <div class="actions">
                    <span style='font-size: 20px'>
                      <%= f.label :地址 %>
                      <%= f.text_field :address, :value => Faker::Address.city %>
                    </span>
                  </div>
                  <br>
                  <div class="actions">
                    <span style='font-size: 20px'>
                      <%= f.label :付款方式 %>
                      <%= f.select :payment_method, ["allpay", "paypal"] %>
                    </span>
                  </div>
                  <br>
                  <%= f.submit "同意捐款", :class=>'btn btn-contrast'%>
                <% end %>

                <%#= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa fa-chevron-up'></i>
        </div>
</div>










