<div id='main' role='main'>
  <div id='main-content'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon no-mg-t'>
            <i class='fa fa-tag'></i>
            <h2>
              個人資料
            </h2>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              <%= image_tag(current_user.check_avatar, size: "100x100") %>
              <br>
              <p class='lead lead-xs text-center' style='font-size: 20px'>
                Email: <%= @user.email %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon'>
            <i class='fa fa-table'></i>
            <h2>
              項目收藏
            </h2>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              <div class='table-responsive'>
                <table class='table table-hover'>
                  <thead>
                    <tr>
                      <th>
                        <i class='fa fa-bookmark text-contrast' style='font-size: 18px'></i>
                        項目分類
                      </th>
                      <th>
                        <i class='fa fa-archive text-contrast' style='font-size: 18px'></i>
                        項目名稱
                      </th>
                      <th>
                        <i class='fa fa-dollar text-contrast' style='font-size: 18px'></i>
                        募款進度
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                  <%@myfavorites.each do |m|%>
                    <tr class='warning'>
                      <td style=" width: 10% ">
                        <%=m.category.name%>
                      </td>
                      <td style=" width: 50% ">
                       <%= link_to m.title, proposal_path(m) %>
                      </td>
                      <td style=" width: 40% ">
                        <% if m.progress > m.target %>
                          <div class='progress'>
                            <div aria-valuemax='100' aria-valuemin='0' aria-valuenow='80' class='progress-bar progress-bar-contrast progress-success' role='progressbar' style='width: 100%'>
                              <span class='sr-only'>100% Complete</span>
                            </div><!-- progress bar end -->
                          </div><!-- progress-striped -->
                          募資進度：NTD <%= m.progress %> / <%= m.target %>
                        <% else %>
                          <div class='progress progress-striped'>
                            <div aria-valuemax='100' aria-valuemin='0' aria-valuenow='80' class='progress-bar progress-bar-contrast' role='progressbar' style='width: <%= m.progress.to_f / m.target.to_f*100 %>%'>
                              <span class='sr-only'><%= m.progress.to_f / m.target.to_f*100 %>% Complete</span>
                            </div>
                          </div>
                          募資進度：NTD <%= m.progress %> / <%= m.target %>
                        <% end %>
                      </td>
                    </tr>
                    <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if @user == current_user %>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon'>
            <i class='fa fa-table'></i>
            <h2>
              已捐贈項目
            </h2>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              <div class='table-responsive'>
                <table class='table table-hover'>
                  <thead>
                    <tr>
                      <th style=" width: 40% ">
                        <i class='fa fa-file text-contrast' style='font-size: 18px'></i>
                        項目名稱
                      </th>
                      <th style=" width: 15% ">
                        <i class='fa fa-dollar text-contrast' style='font-size: 18px'></i>
                        付款狀態
                      </th>
                      <th style=" width: 15% ">
                        <i class='fa fa-dollar text-contrast' style='font-size: 18px'></i>
                        捐贈金額
                      </th style=" width: 30% ">
                      <th>
                        <i class='fa fa-dollar text-contrast' style='font-size: 18px'></i>
                        募款進度
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @mypurchases.each do |m|%>
                      <tr class='warning'>
                        <td>
                          <%= link_to m.product.proposal.title, proposal_path(m.product.proposal) %>
                        </td>
                        <td>
                          <% if m.payment_status == "paid" %>
                            已付款
                          <% else %>
                            <%= link_to "尚未付款", checkout_allpay_proposal_product_order_path(m.product.proposal, m.product, m) %>
                          <% end %>
                        </td>
                        <td>
                          <%= m.amount%>
                        </td>
                        <td>
                          <% if m.product.proposal.progress > m.product.proposal.target %>
                            <div class='progress progress-striped'>
                              <div aria-valuemax='100' aria-valuemin='0' aria-valuenow='80' class='progress-bar progress-bar-contrast progress-success' role='progressbar' style='width: 100%'>
                                <span class='sr-only'>100% Complete</span>
                              </div>
                            </div>
                            募資進度：NTD <%= m.product.proposal.progress %> / <%= m.product.proposal.target %>
                          <% else %>
                            <div class='progress progress-striped'>
                              <div aria-valuemax='100' aria-valuemin='0' aria-valuenow='80' class='progress-bar progress-bar-contrast ' role='progressbar' style='width: <%= m.product.proposal.progress.to_f / m.product.proposal.target.to_f*100 %>%'>
                                <span class='sr-only'><%= m.product.proposal.progress.to_f / m.product.proposal.target.to_f*100 %>% Complete</span>
                              </div>
                            </div>
                            募資進度：NTD <%= m.product.proposal.progress %> / <%= m.product.proposal.target %>
                          <% end %>
                        </td>
                      </tr>
                    </div>
                  <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <div class='fade' id='scroll-to-top'>
    <i class='fa fa-chevron-up'></i>
  </div>
</div>
