<div id='main' role='main'>
  <div id='main-content'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-push-9 col-sm-push-8 col-sm-4 col-md-3'>
          <nav class='sidebar sidebar-fixed'>
            <button class='btn btn-block btn-contrast sidebar-toggle' data-target='.sidebar-collapse' data-toggle='collapse' type='button'>
              <span class='sr-only'>Toggle navigation</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </button>
            <div class='sidebar-collapse collapse'>
              <div class='box'>
                <h3 class='title'>Info</h3>
                <ul class='list-unstyled list-padded'>
                  <li>
                    <i class='fa fa-user text-contrast fa fa-fixed-width'></i>
                    Company name
                  </li>
                  <li>
                    <i class='fa fa-calendar text-contrast fa fa-fixed-width'></i>
                    September 2013
                  </li>
                </ul>
              </div>
              <div class='box'>
                <h3 class='title'>Services</h3>
                <ul class='list-unstyled list-padded'>
                  <li>
                    <i class='fa fa-check text-contrast fa fa-fixed-width'></i>
                    Webdesign
                  </li>
                  <li>
                    <i class='fa fa-check text-contrast fa fa-fixed-width'></i>
                    HTML / CSS
                  </li>
                  <li>
                    <i class='fa fa-check text-contrast fa fa-fixed-width'></i>
                    Marketing
                  </li>
                  <li>
                    <i class='fa fa-check text-contrast fa fa-fixed-width'></i>
                    Identity
                  </li>
                </ul>
              </div>
              <div class='box'>
                <a class="btn btn-contrast btn-bordered btn-block btn-primary" data-method= "post" href= <%= favorite_proposal_path(@proposal) %> >加入追蹤</a>
              </div>
              <div class='box'>
                <a class="btn btn-contrast btn-bordered btn-block" href= <%= pay_proposal_path %> >我要贊助</a>
              </div>
            </div>
          </nav>
        </div>
          <div class='col-md-pull-3 col-sm-pull-4 col-sm-8 col-md-9'>
            <div class='row'>
              <div class='col-sm-12'>
                <h2 class='no-mg-t'><%= @proposal.title %></h2>
                <p class='lead lead-sm'><%= @user.email %></p>
                <p><%= @proposal.content %></p>
                <hr class='hr-invisible hr-half'>
                <img class="img-responsive center-block" alt="Project detail" src= <%= @proposal.title_graph_url %> />
                <hr class='hr-invisible hr-half'>
                <p><%= @proposal.content %></p>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-12'>
                <h2 class='no-mg-t'>發起人</h2>
                <p class='lead lead-sm'><%= @user.email %></p>
                <img class="img-responsive center-block" alt="Project detail" src= <%= @user.avatar_url %> />
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa fa-leaf'></i>
                  <h2>
                    評論專區
                  </h2>
                </div>
                <div class='row portfolio-boxes'>

                  <table class="table thumbnail table-striped">
                    <label>問與答</label>
                    <%@proposal.comments.each do |c|%>
                    <tr>
                      <td><%=c.content%></td>
                      <td>
                        <% if current_user and current_user == c.user %>
                          <%=link_to "Edit", edit_forum_path(e), :class=>"btn btn-primary"%>
                          <%=link_to "Destroy", forum_path(e), :method=>:delete, :class=>"btn btn-primary"%>
                        <%end%>
                      </td>
                    </tr>
                    <%end%>
                  </table>
                  <br>
                  <div class="form-group">
                    <label>請留言</label>
                    <input class="form-control" id="input-textarea" type="text">
                  </div>
                  <%#=form_for d, :url=>proposal_comments_path(d), :method=>:patch, :class=>"form" do |f|%>
                  <%#=f.label :content, "Content"%>
                  <%#=f.text_area :content, :class=>"form-control"%>
                  <%#=f.submit "Publish"%>
                  <%#end%>

                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class='fade' id='scroll-to-top'>
    <i class='fa fa-chevron-up'></i>
  </div>
</div>
